.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.custom-ant-table .ant-table-thead > tr > th {
  background-color: #d46419 !important;
  color: white !important;
  font-weight: bold;
  text-align: center;
}


.orange-button {
  background-color: #d46419 !important;
  color: white !important;
  border: none !important;
}


/* Custom calendar styling */



.custom-calendar .ant-picker-panel {
  background-color: #1e1e1e !important;
  color: #fff;
}

.custom-calendar .ant-picker-cell-inner {
  color: #fff;
}

.custom-calendar .ant-picker-cell-selected .ant-picker-cell-inner,
.custom-calendar .ant-picker-cell-inner:hover {
  background-color: #d46419 !important;
  color: #fff !important;
}

.custom-calendar .ant-picker-header {
  color: #fff;
}

.custom-calendar .ant-picker-content th {
  color: #d46419;
}
